<!-- index.ejs -->
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>top</title>
</head>

<body>
    <h1>やることリスト</h1> <!-- ここを追加 -->
    <ul class="user-list">
        <% for (const user of users) { %>
          <li class="user-name">
            <%= user %>
            <button class="delete-button">削除</button>
          </li>
        <% } %>
      </ul>
      
  <input type="text" class="input-text" />
  <button class="send-button">送信</button>
  <script src="/static/index.js" defer></script>
</body>

</html>